/*Reset-----------------------------------------------
----------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Util Styles-----------------------------------------
----------------------------------------------------*/

.container{
	width:960px;
	margin: 0 auto;
	margin-top:30px;
}
        
.sm-container{
    width:420px;
    margin: 0 auto;
}

.md-contaier{
	width:500px;
	margin: 0 auto;
}

.centerText{
	text-align:center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*Clearfix */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/*Main------------------------------------------------
----------------------------------------------------*/

html{
	font-size: 62.5%;
}

body{
	font-family: 'Roboto', 'Open Sans', sans-serif';
}

.modal-body{
	background-color: #f7f5f2;
}

/*Login page------------------------------------------
----------------------------------------------------*/

svg{
    width:95px;
    height:95px;
    fill: rgba(0,0,0,0.3);
    margin: 50px 0;
}
         
.login h1, .options h1{
	color:white;
	font-size: 3.6em;
	font-weight:800;
    color: rgba(0,0,0, 0.4);
}
        
.login .btn{
    margin-top:50px;
}


label, input{
	font-size: 1.7em;
}

label{
	display:block;
	color: rgba(0,0,0,0.5);
}

input{
	border-radius: 2px;
	padding-left: 25px;
	margin-top: 15px;
	color: rgba(0,0,0,0.8);
	transition: all 0.5s ease-in-out;
	margin-bottom:5px;
    background-color: #eae6e1;
    border:none;
    height:40px;
}

input:focus, input:active{
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.43);
	border: 1px solid 3b4664;
}

input, .btn{
	min-width: 100%;
	padding: 12px 12px;
    width:100%;
}
        
.btn{
    display:block;
	background-color: #4ac0a4;
	color: white;
	transition: all 0.3s ease-in-out;
	border-radius:4px;
	font-weight:800;
	border:none;
	font-size: 1.8em;
    height:50px;
    text-align: center;
}

.btn:hover{
	background-color: #2E9079;
}

.form__group{
    margin: 25px 0 40px 0;
}

/*Admin page-----------------------------------------
----------------------------------------------------*/

main {
  width:1000px;
  padding: 30px;
  margin: 0 auto;
  margin-top:30px;
  border-radius:4px;
}

section {
  display: none;
  padding: 25px 0 0;
  border-top: 1px solid #ddd;
}

section label{
	font-size: 1.4em;
}

label {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border-bottom: 3px solid #4ac0a4;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6   {
  display: block;
}

.tab-item{
	padding: 15px;
}

.medium{
	width:500px;
}

section h1{
	font-size: 2.5em;
	color: rgba(0,0,0,0.6);
	margin-top:30px;
	margin-bottom:25px;
	fill: rgba(0,0,0,0.3);
}

.alert{
	display:block;
	padding: 20px 20px;
	border-radius:3px;
	font-size: 1.5em;
}

.success{
	background-color: #dff0d8;
	color: #3c763d;
} 
        
section{
    padding: 20px 15px;
}
 
section input{
    border: 1px solid rgba(0,0,0,0.2);
    height:20px;
    width:300px;
    background-color: #f7f5f2;
}
        
.section label{
    font-size: 1.6em;
}

.optionsMenu{
	display:block;
	margin-top:60px;
}

.options h1{
	font-size: 4.6em;
	color: rgba(0,0,0,0.4);
	font-weight:800;
	margin-top: 50px;
	margin-botom:50px;
}

.optionsMenu li{
	list-style-type:none;
	text-align:center;
	transition: 0.5s ease-in.out;
	cursor:pointer;
	display:inline-block;
	width:100%;
	height:100%;
}


.optionsMenu a:last-child{
	margin-left: 20px;
}

.optionsMenu a:hover{
	background-color:#4ac0a4;
	color:white;
}

.optionsMenu a{
	padding: 35px 35px;
	text-decoration:none;
	font-size: 2.2em;
	display:inline-block;
	color: rgba(0,0,0,0.6);
	background-color:white;
}










